.panel{
    margin: 3em;
}
.modal-body, .modal-footer{
    text-align: center;
}
.modal-body img{
    margin-top: 1em;
    margin-bottom: 1em;
}
table{
    padding: 2em;
}
button{
    margin: auto;
}
footer{
    text-align: center;
}
.container-fluid p{
    margin-bottom: 0;
}

/*slider*/
.slider{
    position: relative;
    overflow: hidden;
    margin: 5em auto 0 auto;
    height: 30em;
    width: 70em;
}
.sliderul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 35em;
}

.sliderli {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding-left: 6em;
    width: 70em;
    height: 35em;
}

a.control_prev, a.control_next {
    position: absolute;
    top: 30%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    cursor: pointer;
}
.control_next img, .control_prev img{
    width: 3em;
    height: auto;
}
a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}
.page{
    height: 35em;
    width: 42em;
    text-align: center;
}
/*slider over */

.title{
    margin-top: 3em
}

/*Bootstrap Classes*/
.show {
   display: block !important;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.invisible {
    visibility: hidden;
}